/* <!-- <style>
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
</style> --> */

:root {
    --width: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    Font-size: 15px;
    font-family: 'Outfit', sans-serif;
    /* 400 700 */
}

body{
    background-color: var(--Light-gray);
}

body, html {
    height: 100%;
}

  
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.div-contenedor{
    background-color: var(--width);
    width: 200px;
    height: 320px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    border-radius: 10px;
}


.contenedor-img{
    padding: 0.5rem;
}

img{
    width: 100%;
    border-radius: 10px;
}

.p-parrafo,.p-titulo{
    text-align: center;
}

.p-titulo{
    position: relative;
    bottom: 10px;
    font-weight: 700;
    padding: 0px 10px;
    margin-bottom: 1rem;
    color: var(--Dark-blue);
}

.p-parrafo{
    padding: 10px;
    position: relative;
    bottom: 2.5rem;
    font-size: 11px;
    color: var(--Grayish-blue);
}